h1{
	text-align: center;
	color:teal;
	font-style: oblique;
	margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.2em;
}

body {
	text-align: center;
	font-style: oblique;
    background-size:100%;
	background-image:url(imagine/bg.png);
	background-repeat: no-repeat;
	margin-left: 30pt;
    margin-right: 30pt;
}
img {
	display: block;
	margin: 0 auto;
	width:500px; 
	height:300px;
}
a {
	color:maroon;
	font-size: 25pt;
}
pre {
	font-size: 20pt;
	color:teal;
	font-style: oblique;
}